body {
	margin: 0;
	background-attachment:fixed;
	background-size:100%;
	background-repeat:no-repeat;
	background-color:#000;
}

.fundo {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

#jogo {
	position: absolute;
	top: 100px;
	margin: auto;
	width: 750px;
	height: 750px;
	background: rgb(183, 228, 240);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: solid;
	border-color: #C0C0C0;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.modal{
	display: block; 
	position: absolute;
	background-color: rgba(0, 0, 0, 0.671);
	width: 100%;
	height: 100%;
}
#modal_2 {
	position: fixed;
	top: 50%;
	margin-top: -250px;
	left: 30% ;
	margin-left: -320px;

}

#texto {
	position: fixed;
	top: 50%;
	margin-top: -230px;
	left: 50% ;
	margin-left: -220px;
	height: 270px;
	width: 560px;
	border: 4px solid rgba(0, 0, 0, 0.534);
	border-radius: 15px;
	background-color: rgb(70, 63, 63);
	color: white;
	font-size: 35px;
	font-family: "Righteous", cursive;
	text-align:center;
}

#fechar{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.945);
	padding-right: 6px;
	padding-left: 6px;
	text-align: right;

}
#fechar a{
	background-color: rgb(70, 63, 63);
	border: 4px solid rgba(0, 0, 0, 0.534);
	border-radius: 15px;
}
#fechar a:hover{
	background-color: rgba(50, 40, 50);
}

