#creditos{
    position: absolute;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: black;
}

.marquee{
    height: 500px;
    text-align: center;
    color: white;
    left: 50%;
}

.marquee table{
    position: absolute;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    
}
